<h1>Listing pics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Pic image</th>
    <th>Likes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pics.each do |pic| %>
  <tr>
    <td><%= pic.title %></td>
    <td><%= image_tag pic.pic_image,:size => '100x50' %></td>
    <td><%= pic.num_likes %></td>
    <td><%= link_to 'Show', pic %></td>
    <% if user_signed_in? && current_user.id == pic.user_id%> 
      <td><%= link_to 'Edit', edit_pic_path(pic) %></td>
      <td><%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in?%> 
  <%= link_to 'New Pic', new_pic_path %>
<% end %>