<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @pic.title %>
</p>

<p>
  <b>Pic image:</b>
</p>
<p>
	<%= image_tag @pic.pic_image,:size => '400x300' %>
</p>

<div id="like">
	<%= render 'likes/like_button', :pic => @pic %>
</div>
<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
